<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Histogram</title>
</head>
<body>
<h1>Histogram</h1>
<canvas id="myHistogram"></canvas>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
	// Ваши данные для гистограммы
	var data = {
		labels: ["Категория 1", "Категория 2", "Категория 3"],
		datasets: [{
			label: 'Значения',
			data: [5, 10, 15],
			backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(255, 206, 86, 0.2)'
			],
			borderColor: [
				'rgba(255, 99, 132, 1)',
				'rgba(54, 162, 235, 1)',
				'rgba(255, 206, 86, 1)'
			],
			borderWidth: 1
		}]
	};

	var options = {
		scales: {
			y: {
				beginAtZero: true
			}
		}
	};

	var ctx = document.getElementById('myHistogram').getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: data,
		options: options
	});
</script>

